<h1> Admin DashBoard</h1>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
    <link type="text/css" rel="stylesheet" href="css/main.css" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Madmin | Home</title>
</head>
<body class="grey lighten-4">
    <nav class="blue darken-2">
        <div class="container">
            <div class="nav-wrapper">
                <a href="index.html" class="brand-logo">Madmin</a>
                <a href="#" data-activates="side-nav" class="button-collapse show-on-large right">
                    <i class="material-icons">menu</i>
                </a>
                <ul class="right hide-on-med-and-down">
                    <li class="active">
                        <a href="index.html">Dashboard</a>
                    </li>
                    <li>
                        <a href="posts.html">Posts</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="comments.html">Comments</a>
                    </li>
                    <li>
                        <a href="users.html">Users</a>
                    </li>
                </ul>
                <!-- Side Nav -->
                <ul id="side-nav" class="side-nav">
                    <li class="user-view">
                        <div class="background">
                            <img src="./img/ocean.jpg" alt="Account">
                        </div>
                        <a href="#">
                            <img src="./img/person1.jpg" alt="Person" class="circle">
                        </a>
                        <a href="#">
                            <span class="name white-text">John Doe</span>
                        </a>
                        <a href="#">
                            <span class="email white-text">jdoe@gmail.com</span>
                        </a>
                    </li>
                    <li>
                        <a href="index.html">
                            <i class="material-icons">dashboard</i>
                            Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="posts.html">Posts</a>
                    </li>
                    <li>
                        <a href="categories.html">Categories</a>
                    </li>
                    <li>
                        <a href="comments.html">Comments</a>
                    </li>
                    <li>
                        <a href="users.html">Users</a>
                    </li>
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li>
                        <a class="subheader">Account Controls</a>
                    </li>
                    <li>
                        <a href="login.html" class="waves-effect">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Section: Stats -->
    <section class="section-stats center">
        <div class="row">
            <div class="col s12 m6 l3">
                <div class="card-panel blue lighten-1 white-text center">
                    <i class="material-icons medium">insert_emoticon</i>
                    <h5>Monthly Visitors</h5>
                    <h3 class="count">28300</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate white" style="width: 40%"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <i class="material-icons medium">mode_edit</i>
                    <h5>Blog Posts</h5>
                    <h3 class="count">105</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate blue lighten-1" style="width: 20%"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel blue lighten-1 white-text center">
                    <i class="material-icons medium">mode_comment</i>
                    <h5>Comments</h5>
                    <h3 class="count">1200</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate white" style="width: 40%"></div>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l3">
                <div class="card-panel center">
                    <i class="material-icons medium">supervisor_account</i>
                    <h5>Users</h5>
                    <h3 class="count">350</h3>
                    <div class="progress grey lighten-1">
                        <div class="determinate blue lighten-1" style="width: 10%"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Section: Visitors -->
    <section class="section-visitors blue lighten-4">
        <div class="row">
            <div class="col s12 m6 l8">
                <div class="card-panel">
                    <div id="chartContainer" style="height: 300px; width: 100%;"></div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <!-- Latest Comments -->
                <ul class="collection with-header latest-comments">
                    <li class="collection-header">
                        <h5>Latest Comments</h5>
                    </li>
                    <li class="collection-item avatar">
                        <img src="./img/person1.jpg" alt="Person" class="circle">
                        <span class="title">John Doe</span>
                        <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nemo
                            non perspiciatis, sed ullam voluptatibus.</p>
                        <a href="#" class="approve green-text">Approve</a>
                        <a href="#" class="deny red-text">Deny</a>
                    </li>
                    <li class="collection-item avatar">
                        <img src="./img/person2.jpg" alt="Person" class="circle">
                        <span class="title">Steve Smith</span>
                        <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nemo
                            non perspiciatis, sed ullam voluptatibus.</p>
                        <a href="#" class="approve green-text">Approve</a>
                        <a href="#" class="deny red-text">Deny</a>
                    </li>
                    <li class="collection-item avatar">
                        <img src="./img/person3.jpg" alt="Person" class="circle">
                        <span class="title">Ellen Williams</span>
                        <p class="truncate">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur nemo
                            non perspiciatis, sed ullam voluptatibus.</p>
                        <a href="#" class="approve green-text">Approve</a>
                        <a href="#" class="deny red-text">Deny</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Section: Recent Posts & Todos -->
    <section class="section-recent">
        <div class="row">
            <div class="col s12 l8 m6">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Recent Posts</span>
                        <table class="striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Category</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Post One</td>
                                    <td>Web Development</td>
                                    <td>
                                        <a href="details.html" class="btn blue lighten-2">Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Post Two</td>
                                    <td>Graphic Design</td>
                                    <td>
                                        <a href="details.html" class="btn blue lighten-2">Details</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Post Three</td>
                                    <td>Web Development</td>
                                    <td>
                                        <a href="details.html" class="btn blue lighten-2">Details</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col s12 m6 l4">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Quick Todos</span>
                        <form id="todo-form">
                            <div class="input-field">
                                <input type="text" id="todo" placeholder="Add Todo...">
                            </div>
                        </form>
                        <ul class="collection todos">
                            <li class="collection-item">
                                <div>Todo One
                                    <a href="#" class="secondary-content delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </li>
                            <li class="collection-item">
                                <div>Todo Two
                                    <a href="#" class="secondary-content delete">
                                        <i class="material-icons">close</i>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="section blue darken-2 white-text center">
        <p>Madmin Panel Copyright &copy; 2019</p>
    </footer>

    <!-- Fixed Action Button -->
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large red">
            <i class="material-icons">add</i>
        </a>
        <ul>
            <li>
                <a href="#post-modal" class="modal-trigger btn-floating blue">
                    <i class="material-icons">mode_edit</i>
                </a>
            </li>
            <li>
                <a href="#category-modal" class="modal-trigger btn-floating blue">
                    <i class="material-icons">folder</i>
                </a>
            </li>
            <li>
                <a href="#user-modal" class="modal-trigger btn-floating blue">
                    <i class="material-icons">supervisor_account</i>
                </a>
            </li>
        </ul>
    </div>

    <!-- Add Post Modal -->
    <div id="post-modal" class="modal">
        <div class="modal-content">
            <h4>Add Post</h4>
            <form>
                <div class="input-field">
                    <input type="text" id="title">
                    <label for="title">Title</label>
                </div>
                <div class="input-field">
                    <select>
                        <option value="" disabled selected>Select option</option>
                        <option value="1">Web Development</option>
                        <option value="2">Graphic Design</option>
                        <option value="3">Tech Gadgets</option>
                        <option value="4">Other</option>
                    </select>
                    <label>Category</label>
                </div>
                <div class="input-field">
                    <textarea name="body" id="body" class="materialize-textarea"></textarea>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>

    <!-- Add Category Modal -->
    <div id="category-modal" class="modal">
        <div class="modal-content">
            <h4>Add Category</h4>
            <form>
                <div class="input-field">
                    <input type="text" id="category">
                    <label for="category">Title</label>
                </div>

            </form>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>

    <!-- Add User Modal -->
    <div id="user-modal" class="modal">
        <div class="modal-content">
            <h4>Add User</h4>
            <form>
                <div class="input-field">
                    <input type="text" id="name">
                    <label for="name">Name</label>
                </div>
                <div class="input-field">
                    <input type="email" id="email">
                    <label for="email">Email</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password">
                    <label for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" id="password2">
                    <label for="password2">Confirm Password</label>
                </div>
            </form>
            <div class="modal-footer">
                <a href="#!" class="modal-action modal-close btn blue white-text">Submit</a>
            </div>
        </div>
    </div>

    <!-- Preloader -->
    <div class="loader preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
            <div class="circle-clipper left">
                <div class="circle"></div>
            </div><div class="gap-patch">
            <div class="circle"></div>
        </div><div class="circle-clipper right">
            <div class="circle"></div>
        </div>
        </div>
    </div>

<!--Import jQuery before materialize.js-->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script src="./js/chart.js"></script>
<script src="https://cdn.ckeditor.com/4.11.2/standard/ckeditor.js"></script>
<script>
    // Hide Sections
    $('.section').hide();

    setTimeout(function () {
        $(document).ready(function () {
            // Show sections
            $('section').fadeIn();

            // Hide Preloader
            $('.loader').fadeOut();

            // Init Side Nav
            $('.button-collapse').sideNav();

            // Init Modal
            $('.modal').modal();

            // Init Select
            $('select').material_select();

            // Counter
            $('.count').each(function () {
                $(this).prop('Counter', 0).animate({
                    Counter: $(this).text()
                }, {
                    duration: 1000,
                    easing: 'swing',
                    step: function (now) {
                        $(this).text(Math.ceil(now));
                    }
                })
            });

            // Comments - Approve & Deny
            $('.approve').click(function (e) {
                Materialize.toast('Comment Approved', 3000);
                e.preventDefault();
            });
            $('.deny').click(function (e) {
                Materialize.toast('Comment Denied', 3000);
                e.preventDefault();
            });

            // Quick Todos
            $('#todo-form').submit(function (e) {
                const output = `
                    <li class="collection-item">
                        <div>${$('#todo').val()}
                            <a href="#" class="secondary-content delete">
                                <i class="material-icons">close</i>
                            </a>
                        </div>
                    </li>
                `;
                $('.todos').append(output);

                Materialize.toast('Todo Added', 3000);
                e.preventDefault();
            });

            // Delete Todos
            $('.todos').on('click', '.delete', function (e) {
                $(this).parent().parent().remove();
                Materialize.toast('Todo Removed', 3000);
                e.preventDefault();
            });

            CKEDITOR.replace( 'body' );
        });
    }, 1000);
</script>
</body>
</html>