
<div class="register">

<div>
  <h2 id="account-create-title">Create Account</h2>
</div>
<div>
<form id="form" action="/signup" method="POST">
   
    <input type="text" name="username"
      placeholder="Username" class="create-acc-input">


<input type="email" name="email"
      placeholder="email" class="create-acc-input">

<input type="text" name="fullname"
      placeholder="fullname" class="create-acc-input">

    <input id="passwordenter" type="password" name="password" placeholder="Password" class="create-acc-input">
    
    
    <button id="signupbtn" type="submit">Create account</button>
  </form>
</div>
</div>