<div class="parallax-container">
	<div class="valign-wrapper">
		<h2 class="white-text center-align"></h2>
	</div>
	<div class="parallax"><img class="main-cover" src="images/cover.png"></div>
</div>


<div class="about-box">
	<div class="about">
		<section>
			<div class="container">
				<div class="row">

					<div class="row">
						<h5 class="about-title">Sobre Nosotros</h5>

						<div class="col s12 m4">
							<div class="card">
								<div class="card-image">
									<img src="images/img1purpose.png">
									<span class="card-title">PROPÓSITO</span>
								</div>
								<div class="card-content">
									<p>Podemos agregar algo sobre sus servicios aquí</p>
								</div>

							</div>
						</div>

						<div class="col s12 m4">
							<div class="card">
								<div class="card-image">
									<img src="images/img2projections.jpg">
									<span class="card-title">PROYECCIÓN</span>
								</div>
								<div class="card-content">
									<p>Podemos agregar algo sobre sus servicios aquí</p>

								</div>

							</div>
						</div>

						<div class="col s12 m4">
							<div class="card">
								<div class="card-image">
									<img src="images/img3.png">
									<span class="card-title">VALORES</span>
								</div>
								<div class="card-content">
									<p>Podemos agregar algo sobre sus servicios aquí</p>
								</div>

							</div>
						</div>

					</div>

				</div>

		</section>
	</div>

	<div class="full-silder">
		<h5 class="about-title">Nuestros Servicios</h5>
		<div class="carousel carousel-slider">
			<a href="#one!" class="carousel-item"><img src="images/main-slider.png"></a>
			<a href="#two!" class="carousel-item"><img src="images/slide2.png"></a>
			<a href="#three!" class="carousel-item"><img src="images/slider3.png"></a>
			<a href="#four!" class="carousel-item"><img src="images/slider4.png"></a>


			<!-- next and prev buttons -->
			<div class="next"><i class="small material-icons">chevron_right</i></div>
			<div class="prev"><i class="small material-icons">chevron_left</i></div>
		</div>

	</div>


	{{!-- Meet The Team --}}

	<section>
		<div class="container">
			<div class="row">

				<h5 class="about-title">Nuestro equipo</h5>
<div class="bord-line"></div>
				<div class="col s12 m6">
					<div class="card">
						<div class="card-image">
							<img class="activtor" src="images/Naty.jpg">
							
						</div>
						<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Natalia Vargas<i
									class="material-icons right">more_vert</i></span>
							
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Propietaria<i
									class="material-icons right">close</i></span>
							<p>información tuya.</p>
						</div>


					</div>
				</div>

				<div class="col s12 m6">
					<div class="card">
						<div class="card-image">
							<img src="images/ricoSuave.png">
							
						</div>
					<div class="card-content">
							<span class="card-title activator grey-text text-darken-4">Rico Suave<i
									class="material-icons right">more_vert</i></span>
							
						</div>
						<div class="card-reveal">
							<span class="card-title grey-text text-darken-4">Compañera<i
									class="material-icons right">close</i></span>
							<p>información sobre el miembro de tu equipo.</p>
						</div>

					</div>
				</div>
			</div>
		</div>

	</section>