body {
  font-family: 'Poppins', sans-serif;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

nav ul a {
  color: #9ba9f8; }

.main-cover {
  height: 385px; }

.parallax-container {
  height: 385px; }

.center-align {
  width: 100%; }

.parallax-container .valign-wrapper {
  height: 100%; }

.nav-wrapper {
  background-color: #fff; }

.Home-Banner {
  background: url("/images/header.jpg") no-repeat;
  background-size: 100%;
  height: 435px; }

.about {
  width: 100%;
  margin-top: 2%;
  margin-right: 11px;
  border: solid 2px #546dfb;
  box-shadow: 2px 4px #9ba9f8; }

.about-title {
  display: flex;
  justify-content: center; }

.titles {
  display: flex;
  justify-content: center; }

#logo {
  height: 70px;
  width: 80px; }

.about-box {
  margin-left: 2%;
  margin-right: 2%; }

.card .card-title.hidden {
  text-indent: -9999px; }

.card .card-image .card-badge {
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  font-size: 0.9em;
  padding: 0.2em 24px 0.8em 24px;
  z-index: 2; }
  .card .card-image .card-badge .material-icons {
    position: relative;
    margin-right: 8px;
    top: 7px; }
  .card .card-image .card-badge + .card-title {
    padding-bottom: 66px; }

.card.horizontal .card-image .card-badge {
  text-align: center;
  padding: 0.2em 0; }
  .card.horizontal .card-image .card-badge .material-icons {
    display: none; }

.card-title {
  color: #546dfb !important; }

main {
  flex: 1 0 auto; }

.carousel .carousel-item > img {
  margin-top: 2%;
  height: 400px;
  width: 100%; }

.next,
.prev {
  position: absolute;
  top: 40%;
  color: white;
  background-color: #546dfb;
  cursor: pointer; }

.prev {
  left: 0px; }

.next {
  right: 0px; }

.heading-title {
  margin-bottom: 100px; }

.text-center {
  text-align: center; }

.heading-title h3 {
  margin-bottom: 0;
  letter-spacing: 2px;
  font-weight: normal; }

.p-top-30 {
  padding-top: 30px; }

.half-txt {
  width: 60%;
  margin: 0 auto;
  display: inline-block;
  line-height: 25px;
  color: #7e7e7e; }

.text-uppercase {
  text-transform: uppercase; }

.team-member, .team-member .team-img {
  position: relative; }

.team-member {
  overflow: hidden; }

.team-member, .team-member .team-img {
  position: relative; }

.team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  border: 20px solid rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.team-member:hover .team-hover .desk {
  top: 35%; }

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1; }

.team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  padding: 0 20px; }

.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color: #222; }

.team-member:hover .team-hover .s-link {
  bottom: 10%; }

.team-member:hover .team-hover, .team-member:hover .team-hover .desk, .team-member:hover .team-hover .s-link {
  opacity: 1; }

.team-hover .s-link {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 0;
  text-align: center;
  -webkit-transform: translateY(45%);
  -ms-transform: translateY(45%);
  transform: translateY(45%);
  -webkit-transition: all 0.3s 0.2s;
  transition: all 0.3s 0.2s;
  font-size: 35px; }

.desk, .desk h4, .team-hover .s-link a {
  text-align: center;
  color: #222; }

.team-member .s-link a {
  margin: 0 10px;
  color: #333;
  font-size: 16px; }

.team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%; }

.team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase; }

.team-title span {
  font-size: 12px;
  text-transform: uppercase;
  color: #a5a5a5;
  letter-spacing: 1px; }

.bord-line {
  min-height: 2px;
  /* height: 4px; */
  border-radius: 7px;
  background-color: #546dfb; }

.carousel.carousel-slider {
  height: 500px !important; }

.card-action {
  white-space: nowrap; }

/*# sourceMappingURL=style.css.map */